html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
main .left_panel {
  background-color: #374050;
}
main .left_panel .logo_products {
  border-bottom-right-radius: 30px;
  height: 66px;
}
main .main_panel {
  background-color: #F2F6FA;
}
main .main_panel__header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
main .main_panel .custom_tabs {
  height: 40px;
}
main .main_panel .custom_tabs__nav a {
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 11px;
  color: #ED1C24;
}
main .main_panel .custom_tabs__nav .active {
  box-sizing: border-box;
  border-bottom: 2px solid #ED1C24;
}
main .main_panel .user_name {
  color: #A6AFB8;
  font-size: 11px;
  min-height: 100%;
  display: flex;
  align-items: center;
}
main .main_panel .main_content {
  position: relative;
}
main .main_panel .main_content .list_products {
  color: #6E6E6F;
}
main .main_panel .main_content .list_products__header {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  text-transform: uppercase;
  height: 40px;
}
main .main_panel .main_content .list_products__header-item {
  display: flex;
  font-size: 9px;
  align-items: center;
}
main .main_panel .main_content .list_products__items {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
}
main .main_panel .main_content .list_products__items-item {
  display: grid;
  min-height: 60px;
  grid-template-columns: repeat(4, 150px);
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}
main .main_panel .main_content .list_products__items-item .list_item {
  display: flex;
  font-size: 11px;
  align-items: center;
}
main .main_panel .main_content .list_products__items-item .list_item-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main_panel .main_content .add_product {
  height: 30px;
  width: 136px;
  border: none;
  background-color: #0FC5FF;
  color: #fff;
  border-radius: 5px;
}
main .main_panel .main_content .create_product,
main .main_panel .main_content .edit_product {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 630px;
  background-color: #374050;
}
main .main_panel .main_content .create_product .modal-content,
main .main_panel .main_content .edit_product .modal-content {
  background-color: #374050;
  border: none;
  color: #fff;
}
main .main_panel .main_content .create_product .modal-header,
main .main_panel .main_content .edit_product .modal-header {
  border: none;
}
main .main_panel .main_content .create_product .modal-title,
main .main_panel .main_content .edit_product .modal-title {
  font-size: 20px;
}
main .main_panel .main_content .create_product .modal-body,
main .main_panel .main_content .edit_product .modal-body {
  width: 80%;
}
main .main_panel .main_content .create_product .modal-body .form-label,
main .main_panel .main_content .edit_product .modal-body .form-label {
  font-size: 9px;
}
main .main_panel .main_content .create_product .modal-body .form-label-attr,
main .main_panel .main_content .edit_product .modal-body .form-label-attr {
  font-size: 14px;
  font-weight: 900;
}
main .main_panel .main_content .create_product .add_attr,
main .main_panel .main_content .edit_product .add_attr {
  color: #0FC5FF;
  border-bottom: 1px dotted #0FC5FF;
  font-size: 9px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
main .main_panel .main_content .create_product .form-select option,
main .main_panel .main_content .edit_product .form-select option {
  border-radius: 5px;
  height: 30px;
}
main .main_panel .main_content .create_product .del_attr,
main .main_panel .main_content .edit_product .del_attr {
  padding-top: 29px;
  cursor: pointer;
}
main .main_panel .main_content .create_product .del_attr img,
main .main_panel .main_content .edit_product .del_attr img {
  height: 11px;
}
main .main_panel .main_content .create_product .del_attr:active,
main .main_panel .main_content .edit_product .del_attr:active {
  transform: scale(0.99);
}
main .main_panel .main_content .info_product {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 630px;
  min-height: 387px;
  background-color: #374050;
}
main .main_panel .main_content .info_product .modal-content {
  background-color: #374050;
  border: none;
  color: #fff;
}
main .main_panel .main_content .info_product .modal-header {
  border: none;
}
main .main_panel .main_content .info_product .modal-title {
  font-size: 20px;
}
main .main_panel .main_content .info_product .product_actions {
  display: flex;
  align-items: center;
}
main .main_panel .main_content .info_product .product_actions .action_edit,
main .main_panel .main_content .info_product .product_actions .action_remove {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0;
  background: transparent;
  margin-right: 5px;
}
main .main_panel .main_content .info_product .product_actions .action_edit img,
main .main_panel .main_content .info_product .product_actions .action_remove img {
  width: 20px;
  height: 20px;
}
main .main_panel .main_content .info_product .modal-body {
  width: 80%;
}
main .main_panel .main_content .info_product .modal-body .product_name {
  font-size: 11px;
  color: #fff;
  opacity: 0.7;
}
main .main_panel .main_content .info_product .modal-body .product_value {
  font-size: 11px;
  color: #fff;
}
